{
  "server": {
    "port": 8888,
    "timeout": 30
  },
  "log": {
    "file_path": ""
  },
  "model": {
    "file_path": "./BUILD/model/cube.gltf",
    "binary_file_path": "./BUILD/model/cube.glb"
  }
}
