[server]
port = 8888
timeout = 30

[log]
# stdout or file
output = "file"
filePath = "/var/log/blendcube.log"

[model]
filePath = "/etc/blendcube/cube.gltf"
binaryFilePath = "/etc/blendcube/cube.glb"
