{
  "server":{
    "port":8888,
    "timeout":30
  },
  "log":{
    "output":"file",
    "file_path":"/var/log/blendcube.log"
  },
  "model":{
    "file_path":"/etc/blendcube/cube.gltf",
    "binary_file_path":"/etc/blendcube/cube.glb"
  }
}
